# Thư mục phụ thuộc của Node
node_modules
client/node_modules
client/build

# File log và debug
npm-debug.log

# Metadata của Git và Vagrant
.git
.vagrant

# Các file của chính Docker
Dockerfile*
docker-compose.yml
